form {
  display: flex;
  max-width: 400px;
  flex-direction: column;
  justify-content: stretch;
  margin: 0 auto;
}

strong,
input {
  display: inline-block;
}

strong {
  width: 150px;
}
.form-input {
  margin-bottom: 24px;
}

button {
  align-self: center;
  display: block;
  width: 80px;
  margin: 0 auto;
}
